.student-info {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 30px 10px 30px;
    border: 1px solid #202d42;
    border-radius: 5px;
    background-color: #4d73b0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.text-student-info {
    font-size: 16px;
    font-weight: 600;
    /* color: #91b0e3; */
}

.student-login-form {
    display: flex;
    flex-direction: row;
}

.login-form-half {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
    padding: 10px 30px 10px 30px;
}

.student-form-content {
    margin-top: 5px;
    margin-bottom: 5px;
}

.student-data {
    width: 80vw !important;
    height: 40vh;
    display: flex !important;
    flex-wrap: nowrap;
    flex-direction: row !important;
    justify-content: space-around !important;
    margin-bottom: 20px;
}

.student-data-table {
    height: 100%;
    table-layout:fixed;
}

.student-data-table-container {
    width: 35vw !important;
    height: 38vw !important;
    padding: 30px;
    border: 1px solid #202d42;
    border-radius: 5px;
    background-color: #4d73b0;
    color: #cfcfcf;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    overflow: auto !important;
}

.solid-black-3 {
    border: 3px solid black !important;
}

.student-data-stats {
    width: 35vw !important;
    height: 38vw;
    border: 1px solid #202d42;
    border-radius: 5px;
    background-color: #4d73b0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 30px 10px 30px 10px;
}
