.tile {
    background-color: #1f4c94; /* #ef8b28 */
}

.tile:hover {
    background-color: #288BEF; 
}

.tile-text {
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    padding: 0.5em;
}

.tile-text:hover {
    color: #fff;
}
